<!doctype html>
<html class="admin">
    <head>
        <title>Administrator</title>
        <link rel="stylesheet" type="text/css" href="../static/css/admin.css">
        <link type="text/javascript" href="../static/js/admin.js">
        <script type="text/javascript">
            function showteacher(teacher_id,teacher_name,phone_num,teacher_password){
                $('.rwd-table').modal('show');
                $(".number").val(teacher_id);
                $(".user_name").val(teacher_name);
                $(".Password").val(teacher_password);
                $(".phone_num").val(phone_num);
            }
        </script>
    </head>
    <body>
        <h1>Management</h1>
        <form action="/">
            <select>
                    <option value ="Teacher">Teacher</option>
                    <option value ="Student">Student</option>
            </select>
            <input type="text" name="number" placeholder="ID No.">
            <input type="text" name="user name" placeholder="User name">
            <input type="text" name="phone_num" placeholder="Phone No.">
            privilege: 
            <input type="checkbox" id="radio" name="privilege">
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button class="button" id="add">ADD</button>
          </form> 
          
        <h1>Teachers</h1>
        <table class="rwd-table">
            <tr>
            <th>ID</th>
            <th>User Name</th>
            <th>Password</th>
            <th>Phone No.</th>
            <th>Privilege</th>
            <th>Delete</th>
            </tr>
            <tr>
            <td data-th="number">0000</td>
            <td data-th="user_name">Adventure</td>
            <td data-th="Password">wsdfgyuik</td>
            <td data-th="phone_num">123456789</td>
            <td data-th="privilege">
                <input type="checkbox" id="radio" name="switch">
            </td>
            <td data-th="privilege">
                <button id="delete">Delete</button>
            </td>
            </tr>
        </table>
        <h1>Students</h1>
        <table class="rwd-table">
            <tr>
            <th>ID</th>
            <th>User Name</th>
            <th>Password</th>
            <th>Phone No.</th>
            <th>Privilege</th>
            <th>Delete</th>
            </tr>
            </tr>
            <tr>
            <td data-th="number"></td>
            <td data-th="user_name"></td>
            <td data-th="Password"></td>
            <td data-th="phone_num"></td>
            <td data-th="privilege">
                <input type="checkbox" id="radio" name="switch">
            </td>
            <td data-th="Delete">
                <button id="delete">Delete</button>
            </td>
            </tr>
            <tr>
            <td data-th="number">1234</td>
            <td data-th="user name">Drama</td>
            <td data-th="Password">wsdfgyuik</td>
            <td data-th="phone_num">123456789</td>
            <td data-th="privilege">
                <input type="checkbox" id="radio" name="switch">
            </td>
            <td data-th="Delete">
                <button id="delete">Delete</button>
            </td>
            </tr>
        </table>
        <p>&larr; Some Information Can Add Here. &rarr;</p>

    </body>
</html>