<!doctype html>
<html class="admin">
    <head>
        <title>Administrator</title>
        <link rel="stylesheet" type="text/css" href="../static/css/admin.css">
{#        <link type="text/javascript" href="../static/js/admin.js">#}
        <link rel="shortcut icon" href="../static/images/favicon.png">
        <script type="text/javascript" src="{{ url_for('static', filename='js/admin.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>

    </head>
    <body>
        <h1>Management</h1>
        <form action="/">
            <select>
                    <option value ="Teacher">Teacher</option>
                    <option value ="Student">Student</option>
            </select>
            <input type="text" name="number" placeholder="ID No.">
            <input type="text" name="user name" placeholder="User name">
            <input type="text" name="phone_num" placeholder="Phone No.">
            privilege: 
            <input type="checkbox" id="radio" name="privilege">
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button class="button" id="add">ADD</button>
          </form> 
{#          teacher#}
        <h1>Teachers</h1>
        <table class="rwd-table">
            <tr>
            <th>ID</th>
            <th>User Name</th>
            <th>Password</th>
            <th>Phone No.</th>
            <th>Privilege</th>
            <th>Delete</th>
            </tr>
            {% for value in teacher_info.items() %}
            <tr>
                <td data-th="number"><input class="{{ value[0] }}" value="{{ value[0] }}"></td>
                <td data-th="user_name"><input class="{{ value[0] }}" value="{{ value[1] }}"></td>
                <td data-th="Password"><input class="{{ value[0] }}" value="{{ value[2] }}"></td>
                <td data-th="phone_num"><input class="{{ value[0] }}" value="{{ value[3] }}"></td>

                <td data-th="privilege">
                    {% if value[4] == 1 %}
                    <input type="checkbox" id="radio" name="switch" class="{{ value[0] }}" checked="{{ value }}">
                    {% else %}
                    <input type="checkbox" id="radio" name="switch" class="{{ value[0] }}" />
                    {% endif %}
                </td>
                <td data-th="privilege">
                    <button id="delete">Delete</button>
                </td>
            </tr>
            {% endfor %}
        </table>
{#        student#}
        <h1>Students</h1>
        <table class="rwd-table">
            <tr>
            <th>ID</th>
            <th>User Name</th>
            <th>Password</th>
            <th>Phone No.</th>
            <th>Privilege</th>
            <th>Delete</th>
            </tr>

            {% for value in teacher_info.items() %}
            <tr>
                <td data-th="number"><input class="{{ value[0] }}" value="{{ value[0] }}"></td>
                <td data-th="user_name"><input class="{{ value[0] }}" value="{{ value[1] }}"></td>
                <td data-th="Password"><input class="{{ value[0] }}" value="{{ value[2] }}"></td>
                <td data-th="phone_num"><input class="{{ value[0] }}" value="{{ value[3] }}"></td>

                <td data-th="privilege">
                    {% if value[4] == 1 %}
                    <input type="checkbox" id="radio" name="switch" class="{{ value[0] }}" checked="{{ value[4] }}" />
                    {% else %}
                    <input type="checkbox" id="radio" name="switch" class="{{ value[0] }}" />
                    {% endif %}
                </td>

                <td data-th="Delete">
                    <button id="delete">Delete</button>
                </td>
            </tr>
            {% endfor %}

        </table>
        <p>&larr; Some Information Can Add Here. &rarr;</p>

    </body>
</html>